

/* .page {
    position: relative;
} */

/* .topo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;
    align-items: center;
    padding: 0 20px;
} */

/* .menu {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* .menu-principal {
    display: flex;
    gap: 10px;
} */

/* .btn-menu {
    padding: 12px 20px;
    color: #6d6d6d;;
    cursor: pointer;
    transition: .5s;
} */

/* .btn-menu i {
    margin-left: 10px;
    font-size: 12px;
    width: 10.5px;
} */

/* .btn-menu i:last-child {
    display: none
} */

/* .btn-menu.active i:not(:last-child) {
    display: none;
}

.btn-menu.active i:last-child {
    display: inline-flex
} */

/* .page .submenu {
    display: none;
    position: absolute;
    top: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    transition: .5s;
    box-shadow: 1px 1px 30px rgba(0, 0, 0, .15);
    z-index: 2000;
} */

/* .page .submenu.active {
    display: block;
    animation: menu-sub .5s forwards;
} */

/* .menu-suspenso {
    display: block;
    padding: 10px;
    color: #6d6d6d;;
    cursor: pointer;
}

.menu-suspenso img {
    margin-right: 15px;
} */

/* .btn-menu:hover, .menu-suspenso:hover {
    color: #000;
} */

/* .btn-menu-register {
    border: solid 2px;
    border-radius: 10px;
} */



/* .menu-mobile {
    display: none;
} */

@media (max-width: 900px) {

    /* .wrapper-menu-mobile .close {
        display: none;
    } */
    
    /* .wrapper-menu-mobile.active .close {
        display: block;
    } */
    
    /* .wrapper-menu-mobile .open {
        display: block;
    } */
    
    /* .wrapper-menu-mobile.active .open {
        display: none;
    } */

    /* .menu-mobile {
        display: block;
        cursor: pointer;
    } */

    /* .menu {
        display: none;
        transition: .5s all;
    } */

    /* .page.active .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .7);
        z-index: 1000 !important;
        transition: .5s all;
    } */

    /* .page.active .menu-mobile {
        position: fixed;
        top: 25px;
        right: 25px;
        z-index: 2001;
    }
    
    .page.active .menu {
        position: fixed;
        width: 240px;
        top: 0;
        right: 0;
        height: 100vmax;
        background-color: #fff;
        display: block;
        padding: 70px 20px;
        transition: .5s all;
        z-index: 2000;
        animation: menu-down .5s forwards;
    } */
    
    /* .page.active .menu-principal {
        display: block;
        width: 100%;
    }
    
    .page.active .btn-menu, .page.active .menu-suspenso {
        display: block;
        animation: menu-sub .5s forwards;

    } */
    
    /* .page.active .menu-login {
        text-align: center;
        margin-top: 30px;
    } */
    
    /* .page.active .submenu {
        padding: 10px 30px;
        display: none;
        transition: .5s;
    } */
    
    /* .page.active .submenu.active {
        display: block;
        position: inherit;
        transition: .5s;
        box-shadow: none;
    } */

    
}




