* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.page {
  width: 100vw;
  height: 100%;
  background-color: #fff;
}

.page .container-limite {
  max-width: 1200px;
  margin: 0 auto;
}

.page .topo {
  display: flex;
  width: 100%;
  height: 80px;
  align-items: center;
}

.page .topo .wrapper-logo .logo {
  margin-right: 50px;
}

.page .topo .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.page .topo .menu ul, .page .topo .menu li {
  display: flex;
  gap: 10px;
}

.page .topo .menu .btn-menu {
  display: block;
  color: #6d6d6d;
  padding: 12px 20px;
  cursor: pointer;
}

.page .topo .menu .btn-menu i {
  margin-left: 10px;
  font-size: 12px;
}

.page .topo .menu .btn-menu:hover {
  color: #161616;
}

.page .topo .menu .btn-menu-register {
  border: solid 2px #6d6d6d;
  border-radius: 15px;
}

.page .topo .menu .btn-menu-register:hover {
  border-color: #161616;
}

.page .topo .menu .submenu {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.15);
  z-index: 100;
}

.page .topo .menu .submenu .menu-suspenso {
  padding: 10px;
  color: #6d6d6d;
  cursor: pointer;
}

.page .topo .menu .submenu .menu-suspenso img {
  margin-right: 15px;
}

.page .topo .menu .submenu .menu-suspenso:hover {
  color: #161616;
}

.page .topo .menu .submenu.active {
  display: block;
}

.page .contents {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
  position: relative;
}

.page .contents .wrapper-contents {
  margin-top: 100px;
}

.page .contents .wrapper-contents .titulo-principal {
  font-size: 80px;
  line-height: 1;
}

.page .contents .wrapper-contents .texto {
  margin: 72px 0 60px 0;
  color: #6d6d6d;
  font-size: 20px;
  line-height: 1.5;
  max-width: 430px;
}

.page .contents .wrapper-contents .btn-saibaMais {
  display: inline-block;
  width: 164px;
  height: 56px;
  text-align: center;
  align-content: center;
  background-color: #000;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
}

.page .contents .wrapper-contents .wrapper-empresas {
  position: absolute;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.page .contents .wrapper-img {
  width: 100%;
}

.page .contents .wrapper-img .img-destaque {
  max-width: 480px;
}

.page .footer .attribution {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  font-size: 11px;
  text-align: center;
}

.page .footer .attribution a {
  color: #3e52a3;
}
