@import 'padroes';

@mixin tablet {
    @media (max-width: 900px) {
        @content;
        transition: .3s;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

// Conteúdo
.contents {
    width: 100%;
    padding: 50px 90px 0px 120px;
    display: flex;
    position: relative;

    @include tablet {
        width: 100%;
        display: grid;
        margin-top: 20px;
        padding: 0;
    }

    .wrapper-contents {
        margin-top: 100px;
        width: 55%;
        position: relative;

        @include tablet {
            grid-row: 2;
            width: 100%;
            text-align: center;
            margin-top: 50px;
        }

        .titulo-principal {
            font-size: 80px;
            line-height: 1;

            @include tablet {
                font-size: 50px;
            }
            
            span {
                display: block;

                @include tablet {
                    display: inline;
                }
            }

        }

        .texto {
            margin: 72px 0 60px 0;
            color: $corSecundaria;
            font-size: 20px;
            line-height: 1.5;
            max-width: 430px;

            @include tablet {
                margin: 30px;
                max-width: 100%;
            }
        }

        .btn-saibaMais {
            display: inline-block;
            width: 164px;
            height: 56px;
            text-align: center;
            align-content: center;
            background-color: #000;
            color: #fff;
            padding: 20px;
            border: solid 1px #000;
            border-radius: 15px;
            margin-bottom: 100px;

            &:hover {
                background-color: transparent;
                color: #000;
            }
        }

        .wrapper-empresas {
            position: absolute;
            bottom: 0;
            width: 80%;
            display: flex;
            gap: 30px;
            // grid-template-columns: repeat(4, 1fr);
            
            @include tablet {
                left: 0;
                right: 0;
                margin: auto;
                gap: 10px;
                justify-content: center;
            }

            .img-empresa {
                width: 30%;
                max-height: 30px;
                
            }
        }
    }

    .wrapper-img {
        width: 45%;

        @include tablet {
            grid-row: 1;
            width: 100%;
        }

        .img-destaque {
            width: 100%;

            @include tablet {
                display: none;
            }
        }

        .img-destaque-mobile {
            display: none;
            width: 100%;

            @include tablet {
                display: block;
            }
        }

    }
}

.footer {

    .attribution {
        margin: 50px auto;
        font-size: 11px;
        text-align: center;
    
        & a {
            color: hsl(228, 45%, 44%);
        }
    }
}